@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset id="areaFiltro" class="form-group">
    <legend>Consulta avançada de Dispositivos</legend>
    <div class="row">
        <div class="col-lg-4">
            Descrição<br />
            <input type="text" id="descricao" class="form-control" />
        </div>
        <div class="col-lg-2">
            Empresa <br />
            <select id="empresa" class="form-control" asp-items="@ViewBag.Empresas"></select>
        </div>
        <div class="col-lg-2">
            Unidade <br />
            <select id="unidade" class="form-control" asp-items="@ViewBag.Unidades"></select>
        </div>
        <div class="col-lg-3">
            Categoria <br />
            <select id="categoria" class="form-control" asp-items="@ViewBag.Categorias"></select>
        </div>
        <div class="col-lg-3">
            Estado <br />
            <select id="estado" class="form-control" asp-items="@ViewBag.Estados"></select>
        </div>
        <div class="col-lg-1">
            <br />
            <input type="button" id="btnFiltro" class="btn btn-success" value="Aplicar" onclick="aplicaFiltroConsultaAvancadaDispositivos()" />
        </div>
    </div>
</fieldset>

<div id="resultadoConsulta" class="table-responsive">
</div>


<h2>Health Check</h2>
<button onclick="check()">Fazer HealthCheck</button>
<div>
    <label  class="control-label">@ViewBag.checkServices</label>
    <br />

    <label for="Id" class="control-label">@ViewBag.check</label>
    <br />

    <label for="Id" class="control-label">@ViewBag.checkSTH</label>
    <br />
</div>


<br />
<br />
<br />
<h2>Analise de dados</h2>

<br />
<h3>Por Empresa/ Unidade</h3>
<canvas id="graficoPieEmpresaUnidade" width="400" height="150">

</canvas>

<button onclick="consultaAvancadaEmpresaUnidade('Empresa')">Empresa</button>
<button onclick="consultaAvancadaEmpresaUnidade('Unidade')">Unidade</button>

<br />
<br />
<h3>Por Estado/ Categoria</h3>
<canvas id="graficoBarCategoriaEstado" width="400" height="150">

</canvas>

<button onclick="consultaAvancadaCategoriaEstado('Categoria')">Categoria</button>
<button onclick="consultaAvancadaCategoriaEstado('Estado')">Estado</button>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            consultaAvancadaEmpresaUnidade('Empresa');
            consultaAvancadaCategoriaEstado('Categoria');
        });
    </script>
}
