@model List<DispositivoViewModel>

<table class="table table-striped table-responsive">
    <tr>
        <th>Código</th>
        <th>Modelo</th>
        <th>Empresa</th>
        <th>Unidade</th>
        <th>Categoria</th>
        <th>Estado</th>
        <th>Data de Instalação</th>
        <th>Imagem</th>
        <th>Monitoramento</th>
    </tr>

    @foreach (DispositivoViewModel dispositivo in Model)
    {
        <tr>
            <td>@dispositivo.Id</td>
            <td>@dispositivo.Modelo</td>
            <td>@dispositivo.EmpresaNome</td>
            <td>@dispositivo.UnidadeNome</td>
            <td>@dispositivo.CategoriaNome</td>
            <td>@dispositivo.EstadoNome</td>
            <td>@dispositivo.DataInstalacao.ToShortDateString()</td>
            <td>
                <img id="imgPreview" src="data:image/jpeg;base64,@dispositivo.ImagemEmBase64"
                     class="img-responsive" width="50">
            </td>
            <td>
                <a href="/dispositivo/IndexMonitoramento?id=@dispositivo.Id">
                    <img src="~/imagens/chartIcon.png" width="20" height="20">
                </a>
            </td>
        </tr>
    }
</table>


