@model List<Leitura>

<table class="table table-striped table-responsive">
    <tr>
        <th>Tempo</th>
        <th>Descrição</th>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Erro Relativo</th>
    </tr>

    @foreach (Leitura leitura in Model)
    {
        <tr>
            <td>@leitura.recvTime.ToShortTimeString():@leitura.recvTime.Second</td>
            <td>@leitura.attrName</td>
            <td>@leitura.attrType</td>
            <td>@leitura.attrValue</td>
            <td>@leitura.ErroRelativo</td>
        </tr>
    }
</table>
